@import "modern-css-reset";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");

:root {
  background: #0047ab;
  color-scheme: dark;
}

* {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

html {
  background-color: #0047ab;
}

body {
  background-color: #0047ab;
  color: #666;
}
