@import "modern-css-reset";

:root {
  background: #0047ab;
  color-scheme: dark;
}

* {
  font-family: sans-serif;
}

html {
  background-color: #0047ab;
}

body {
  background-color: white;
  color: #0047ab;
}
