@import "modern-css-reset";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

:root {
  background: #1e1e28;
  color-scheme: dark;
}

* {
  font-family: "Shippori Mincho", serif;
}

html {
  background-color: #1e1e28;
}

body {
  background-color: #1e1e28;
  color: #aab;
}

a {
  color: #d88;
  text-decoration: none;
}
